<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img id="snapShotOuput" width=500px height=500px >
    <canvas id="canvasOutput" width=500px height=500px></canvas>
    <div id="webcamAttachmentContainer" width=500px height=500px></div>
    <p id="info"></p>
    <!-- <video id="videoInput"></video>
    <img id="imageOut" alt="This an Image"> -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
<script src="./index.js"> </script>
</html>